<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Registro</title>
        <link rel="stylesheet" href="/css/styles.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    </head>
<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <img src="/images/logo-mercado-liebre.svg" class="logo"> 
            <div class="input-lupa">
                <input type="search" placeholder="Buscar productos, marcas" id="Buscador" />
                <i class="fas fa-search"></i>
            </div>
            <h2 class="copy-header">
                <i class="fas fa-hand-holding-usd"></i> 
                Comprá en cuotas y sin tarjeta de crédito
            </h2>
        </div>       
        <a href="#" class="burger-menu">
            <i class="fas fa-bars"></i>
        </a>
        <nav class="main-navbar">
            <ul class="left-bar">
                <li><a href="/ofertas">Ofertas</a></li>
                <li><a href="/tiendas">Tiendas Oficiales</a></li>
                <li><a href="/vender">Vender</a></li>
                <li><a href="/help">Ayuda</a></li>
            </ul>
            <br>
            <ul class="right-bar">
                <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="/mis-compras">Mis Compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        <br>
    </header>
    <main>
        <!-- Formulario registro -->
        <form action="/register" method="POST" class="register-form">
            <label><h2>CREAR CUENTA</h2> </label>
            <div class="control-form-register">
                <input type="text" name="name" placeholder="Nombre" class="control" autofocus required>
            </div>
            <div class="control-form-register">
                <input type="text" name="user" placeholder="Usuario" class="control" required>
            </div>
            <div class="control-form-register">
                <label class="leyendas-registro">Fecha de Nacimiento:</label><br>
                <input type="date" name="date" class="control" required>
            </div>
            <div class="control-form-register">
                <input type="text" name="adress" placeholder="Domicilio" class="control" required>
            </div>
            <div class="control-form-register">
                <label class="leyendas-registro">Perfil de Usuario:</label>
                <div>
                    <input type="radio" name="profile" value="comprador" class="control-opt">
                    <label for="comprador">Comprador</label>
                    <input type="radio" name="profile" value="vendedor" class="control-opt">
                    <label for="vendedor">Vendedor</label>
                </div>
            </div>
            <div class="control-form-register">
                <label class="leyendas-registro">Intereses:</label>
                <div class="checks">
                    <input class="checks-in" type="checkbox" id="interes1" name="interes1" value="electro">
                    <label for="interes1"> Electro</label><br>
                    <input class="checks-in" type="checkbox" id="interes2" name="interes2" value="moda">
                    <label for="interes2"> Moda</label><br>
                    <input class="checks-in" type="checkbox" id="interes3" name="interes3" value="electro">
                    <label for="interes3"> Hogar</label><br>
                    <input class="checks-in" type="checkbox" id="interes4" name="interes4" value="electro">
                    <label for="interes4"> Juguetería</label><br>
                    <input class="checks-in" type="checkbox" id="interes4" name="interes4" value="electro">
                    <label for="interes4"> Vida sana</label><br>
                </div>
            </div>
            <div class="control-form-register">
                <br>
                <label class="leyendas-registro" for="myfile">Foto de Perfil:</label>
                <div>
                    <input type="file" id="myfile" name="myfile" class="control-pic">
                </div>
            </div>
            <div class="control-form-register">
                <input type="password" name="pasword" placeholder="Contraseña" class="control" required>
            </div>
            <div class="control-form-register">
                <input type="password" name="pasword-confirmation" placeholder="Contraseña" class="control" required>
                <span class="error-message">Las contraseñas no coinciden</span>
            </div>
            <div class="botones">
                <br>
                <input type="submit" value="Enviar"> 
                <input type="submit" value="Borrar">
            </div>
        </form>
    </main>
</body>
<br>
<br>
<footer>
    <div class="footer">
        <section>
            <div>
            <div class = "icons">
                <i class="fas fa-credit-card"></i>
            </div>
            <h2>Pagá con tarjeta o efectivo</h2>
            <p>Con Mercado Liebre Cash, tenés cuotas sin <br> interés con tarjeta o efectivo en puntos de <br> pago.¡Y siempre es seguro!</p>
            <br>
            <br>
        </section>
        <section>
            <div class = "icons">
                <i class="fas fa-gift"></i>
            </div>
            <h2>Envío gratis desde $2.500</h2>
            <p>Solo por estar registrad@ en Mercado Liebre <br> tenés envíos gratis en miles de productos. Es <br> un beneficio de Mercado Puntos.</p>
            <br>
            <br>
        </section>
        <section>
            <div class = "icons">
                <i class="fas fa-user-shield"></i>
            </div>
            <h2>Seguridad, de principio a fin</h2>
            <p>¿No te gusta? ¡Devolvelo! en Mercado Liebre <br> no hay nada que no puedas hacer porque <br> estás siempre protegid@</p>
            <br>
            <br>
        </section>    
    </div>
    <h2 class= "copy">Copyright ©️ 1999-2020 MercadoLiebre S.R.L.</h2>    
</footer>   
</html>