* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  background-color: #ebebeb;
}

.titulares {
  font-size: 24px;
  color: #666;
}

.precios {
  font-size: 18px;
  margin: auto;
}

.descuento {
  font-size: 16px;
  color: #39b54a;
  margin: 1px;
}

.descripcion {
  font-size: 16px;
  display: none;
  color: #666;
}

header {
  background-color: #eac926;
}

ul {
  display: none;
}

.fa-search {
  background-size: 10px;
  width: 25px;
  padding: 5px 5px 3px;
  margin-left: 1.1em;
  margin-top: -1em;
  background-color: white;
  border: 1px solid;
}

#Buscador {
  background-size: 24px;
  width: 240px;
  padding: 5px 5px 3px;
  margin-left: 0.8em;
  border: 1px solid;
}

ul {
  margin: 0;
  padding: 0;
}

.burger-menu {
  color: white;
  margin: auto;
  width: 40px;
  height: 40px;
  font-size: 30px;
  padding: 2px;
  background-color: #1259c3;
  text-align: center;
  border-radius: 3px;
  line-height: 42px;
}

.images {
  width: 100%;
  height: auto;
}

.icons {
  color: #1259c3;
  text-align: center;
  font-size: 25px;
}

footer h2 {
  text-align: center;
  font-weight: normal;
  font-size: 15px;
  line-height: 0.2;
  margin-bottom: 0;
}

footer p {
  text-align: center;
  font-size: 10px;
}

.copy {
  text-align: left;
  font-weight: normal;
  font-size: 10px;
}

main {
  width: 90%;
  margin: auto;
}

article {
  margin-bottom: 10px;
}

.fa-truck {
  border: 1px solid;
  border-radius: 50%;
  color: #39b54a;
  padding: 8px;
  margin-top: 10px;
  margin-bottom: 0px;
}

.border {
  margin: 15px;
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
  background-color: white;
}

article div {
  margin: 15px;
  border-top: 1px solid #ebebeb;
}

/* Tablets */
@media (min-width: 361px) {
  .descripcion {
    display: block;
  }
  ul {
    display: block;
  }
  .burger-menu {
    display: none;
  }
}

/* Desktop */
@media (min-width: 769px) {
  .descripcion {
    display: block;
  }
  .burger-menu {
    display: none;
  }
  ul {
    display: block;
  }
}
