* {
  box-sizing: border-box;
}

.main-header {
  padding: 20px;
  background-color: #eac926;
}

.logo {
  width: 100%;
  max-width: 200px;
}

.main-navbar {
  display: none;
}

.main-navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-navbar a {
  text-decoration: none;
  color: #222222;
  display: inline-block;
  padding: 5px 0;
  font-size: 17px;
}

.copy-header {
  font-weight: 400;
  text-align: center;
}

.input-lupa {
  width: 33%;
  align-self: center;
  box-sizing: border-box;
}
.cuotas {
  text-align: center;
}

.subcabecera-top {
  width: 50%;
  display: flex;
}

.logo-liebrego {
  width: 200px;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  background-color: #ebebeb;
}

.titulares {
  font-size: 24px;
  color: #666;
}

.precios {
  font-size: 18px;
}

.descuento {
  font-size: 16px;
  color: #39b54a;
  margin: 1px;
  padding-bottom: 5%;
}

.descripcion {
  font-size: 16px;
  display: none;
  color: #666;
  padding-bottom: 5%;
}

ul {
  display: none;
}

.fa-search {
  background-size: 30px;
  width: 200px;
  padding: 5px 5px 3px;
  margin-left: 1.1em;
  margin-top: 0.5em;
  background-color: white;
  border: 1px solid;
}

ul {
  margin: 0;
  padding: 0;
}

.burger-menu {
  color: white;
  background-color: #03264c;
  display: block;
  max-width: 50px;
  font-size: 18px;
  padding: 15px 0;
  text-align: center;
  border-radius: 8px;
  margin: auto;
}

.images {
  width: 100%;
  height: auto;
}

.img-fiestas {
  display: flex;
  width: 100%;
  padding: 0px;
  text-align: center;
  flex-wrap: wrap;
}

.icons {
  color: #1259c3;
  text-align: center;
  font-size: 25px;
}

footer {
  background-color: white;
}

footer h2 {
  text-align: center;
  font-weight: normal;
  font-size: 15px;
  line-height: 1;
  margin-bottom: 0;
}

footer p {
  text-align: center;
  font-size: 10px;
}

.copy {
  text-align: left;
  font-weight: normal;
  font-size: 10px;
}

main {
  width: 90%;
  margin: auto;
}

article {
  margin-bottom: 10px;
}

.fa-truck {
  border: 1px solid;
  border-radius: 50%;
  color: #39b54a;
  padding: 8px;
  margin-top: 10px;
  margin-bottom: 0px;
  display: block;
  position: absolute;
  right: 25px;
  margin-top: -15px;
  background-color: #fff;
}

.fa-credit-card {
  margin-top: 25px;
}

.border {
  margin: 15px;
  background-color: white;
  position: relative;
}

.border:hover {
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

article div {
  margin: 15px;
  border-top: 1px solid #ebebeb;
}

.error-message {
  color: red;
  font-weight: 600;
}

.control-form-login {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
  text-align: center;
}

.control-form-login label {
  margin-bottom: 15px;
  display: block;
}

.control {
  width: 50%;
  padding: 12px;
  border-radius: 7px;
  border: none;
  margin-top: 15px;
  margin-bottom: 15px;
}

.control-opt {
  padding: 2px;
  text-align: left;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 10px;
}

.control-pic {
  text-align: left;
  font-size: 18px;
  color: #fff;
  padding: 7px 0px;
  border-radius: 7px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  color: grey;
}

.checks {
  margin-bottom: 15px;
  margin-right: 10px;
  padding: 10px;
}

.checks-in {
  margin-bottom: 15px;
  margin-right: 10px;
  padding: 10px;
}

.button-login {
  background-color: #1259c3;
  border: none;
  font-size: 20px;
  color: #fff;
  padding: 7px 25px;
  border-radius: 12px;
  margin-bottom: 15px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 50%;
}

.button-login:hover {
  background-color: #223552;
  color: #fff;
}

.botones {
  border: none;
  font-size: 20px;
  color: #fff;
  padding: 7px 25px;
  border-radius: 12px;
  margin: auto;
  text-align: center;
  margin-top: 15px;
  width: 50%;
  height: 50%;
}

.login div {
  text-align: center;
}

.leyendas-registro {
  color: black;
  font-size: 16px;
}

/* Tablets */
@media (min-width: 700px) {
  .main-header-top-bar {
    display: flex;
    justify-content: space-between;
  }

  .copy-header {
    max-width: 350px;
    text-align: right;
  }

  .main-navbar {
    display: flex;
    justify-content: space-between;
  }

  .main-navbar ul {
    display: flex;
  }

  .main-navbar li {
    margin: 15px;
  }

  /*   .descripcion {
    display: block;
  } */

  ul {
    display: block;
  }
  .burger-menu {
    display: none;
  }
  .elementos-basados {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .images-border {
    width: 50%;
  }
}

/* Desktop */
@media (min-width: 1200px) {
  .titulares {
    text-align: center;
  }

  .images-border {
    width: 20%;
  }

  .border:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }

  .description:hover {
    display: block;
  }
}
